<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>websocket通讯</title>
</head>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/echarts.min.js"></script>
<script src="/js/my.js"></script>
<script>



</script>
<body>
应用系统预警信息：
<table border="1px solid black" cellpadding="0" cellspacing="0" style="width: 20%;text-align: center;" id="warnTable">
    <tr>
        <th width="20%">报警级别</th>
        <th width="40%">所属应用</th>
        <th width="40%">时间</th>
    </tr>
</table>
<br />


<p>
    今日交易额：<span id="dayMoney"></span>亿元
</p>

</body>

</html>
